{% block quill_widget %}
    {% spaceless %}
        <div class="quill" data-theme="{{ theme }}" data-height="{{ height }}">
            {{ value|raw }}
        </div>
        <input type="hidden" {{ block('widget_attributes') }} value="{{ value|raw }}" />
    {% endspaceless %}
{% endblock %}