{% block quill_widget %}
    {% apply spaceless %}
        <div class="quill" data-theme="{{ theme }}" data-id="{{ id }}" style="height: {{ height }}">
            {{ value|raw }}
        </div>
        <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}" />
    {% endapply %}
{% endblock %}
